* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.conteiner {
    max-width: 350px;
    width: 100%;
    margin: 100px auto;
}

form {
    margin-top: 25px;
}

input,
button {
    display: block;
    padding: 10px;
    margin-top: 20px;
    width: 350px;
}

button {
    background-color: rgb(127, 91, 188);
    color: #fff;
    font-size:large;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(107, 36, 230);
}

.success-message {
    background-color: #27ae60;
    padding: 16px;
    color:#fff;
    display: none;
}

.error-message {
    font-size: 12px;
    padding: 16px;
    background-color: red;
    color: #fff;
    margin-bottom: 8px;
    display: none;
}
